.modal-container {
  display: table;
  height: 100%;
  overflow: hidden;
 /* position: fixed;*/
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.modal-backdrop {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.modal-border {
  background: rgba(0,0,0, 0.2);
  border-radius: 12px;
  display: inline-block;
  padding: 8px;
}

.modal {
  background: #FAFAFA;
  border-radius: 6px;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 0.25);
  display: inline-block;
  text-align: left;
  width: 380px;
}

.modal > .header {
  height: 48px;
  line-height: 48px;
  padding: 0 10px; position :relative ;
}

.modal > .header > .title {
  color: #313131;
  font-size: 20px;
  font-weight: bold;
  height: 48px;
  position :absolute ;
}


.modal > .header > .button.close,
.modal > .header > .button.close:link {
  background-image: url("../Images/header-close-button.png");
  background-position: left top;
  background-repeat: no-repeat;
  height: 30px;
  float: right;
  padding: 0;
  margin: 9px -5px 9px 0;
  width: 30px;
  position :relative ;
}

.modal > .header > .button.close:hover {
  background-position: left center;
  cursor: pointer;
}

.modal > .header > .button.close:active {
  background-position: left bottom;
}

.modal > .header > .button.close span {
  display: none;
}

.screen .modal {
  width: auto;
}

.screen .modal > .content {
  background: #FFF;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  margin: 0 10px 10px 10px;
  min-height: 250px;

  min-width: 400px;
  position: relative;
 vertical-align :middle ;
 padding: 0px 5px 5px  5px;
  overflow :auto ;
}

