﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HiringMatrixSource.ascx.cs" Inherits="TPS360.Web.UI.HiringMatrixSource" %>

    

     <style type="text/css">
.front
{

 position : relative ;
}

</style>
<div class="GridContainer" style="width: 100%;" >

<asp:HiddenField ID="hfMemberId" runat ="server" />
<asp:HiddenField ID ="hfCurrentMemberId" runat ="server" />
<asp:HiddenField ID ="hfJobPostingId" runat ="server" />
<asp:HiddenField ID ="hfSourceId" runat ="server" />
<asp:HiddenField ID ="hfHiringNotesCandidateId" runat ="server" Value ="0" />
<div align="left"  style =" display :none " >
<asp:Label ID ="lblTitle" runat ="server" Font-Size ="X-Large" ></asp:Label>
</div>

</div>

<div class ="TableRow"> 
    <div class ="TableFormLeble">New Candidate Source:</div>
    <div class ="TableFormContent"><asp:DropDownList ID="ddlEmployee" runat ="server" CssClass ="CommonDropDownList"></asp:DropDownList>
    </div>
  </div>
<div class ="TableRow" style="padding-top:25px">
    <input type ="button" id ="btnSave"  onclick  ="javascript:mainScreen.SaveSourceClicked()" value ="Save" class ="CommonButton" />
</div>





