﻿<%@ Page Language="C#" MasterPageFile="~/Modals/Modal.master" AutoEventWireup="true" CodeFile="CandiInterviewFeedbackPop.aspx.cs" Inherits="TPS360.Web.UI.CandiInterviewFeedbackPop" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphModalMaster" Runat="Server">
<link href="jquery.tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.tooltip.js" type="text/javascript"></script>
<script src="js/jquery.dimensions.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    $(function() {
        $('#userdiv *').tooltip();
    })
</script>
<style type="text/css">

<style type="text/css">
    td
    {
        cursor: pointer;
        
    }
</style>
 <div  id="schrollDiv" style="height: 600px; visibility: visible; overflow: auto; display: block; position: relative; width: 700px; background-color: #FFFFFF">
      
        <div style =" width : 760px; height : 500px; display:table-cell    ; vertical-align : middle  ">
    <asp:GridView ID="GridViewCandiInterviewFeedback" runat="server" 
         ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" 
         onrowdatabound="GridViewCandiInterviewFeedback_RowDataBound">
    </asp:GridView>
    </div>
    </div>
</asp:Content>

