﻿<%@ Page Language="C#" MasterPageFile="~/Modals/Modal.master" AutoEventWireup="true" ValidateRequest="false" CodeFile="EmailEditorPop.aspx.cs" Inherits="TPS360.Web.UI.EmailEditor" Title="Candidate Email Editor" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ register Src="~/Controls/EmailEditor.ascx" TagName="EmailEditor" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>
<asp:Content ID="cntCandidateResumeBuilder" ContentPlaceHolderID="cphModalMaster"
 Runat="Server">

        <div  style="height: 500px; visibility: visible; overflow: auto;  padding-left:10px; background-color: #FFFFFF">
      
        <div style =" width : 800px; height : 500px; display:table-cell  ;   ">
    <uc1:EmailEditor ID="EmailEditor1" runat="server" />
    
    </div>
      </div>
</asp:Content>

