﻿<%-- 
-------------------------------------------------------------------------------------------------------------------------------------------
    FileName:Default.master
    Description: This is the master page which inherited all page 
    Created By: 
    Created On:
    Modification Log:
    ------------------------------------------------------------------------------------------------------------------------------
    Ver.No.             Date                Author              MOdification
    ------------------------------------------------------------------------------------------------------------------------------
    0.1             Oct-14-2008          Gopala Swamy          Defect id: 8998; I commented the help link   
    0.2             Oct-21-2008          Gopala Swamy          Defect id: 8934; Made visibilty to false for timesheet anchor tag  
    0.3             Jan-27-2009          Gopala Swamy          Enhancement Id:9797 ;Changed Display property to "None" in Style property of corresponding Div 
    0.4             May-13-2009             Veda               Defect id: 10456;Copyrights in the web app has been changed to 2009
    0.5             Jul-08-2009             Veda                Defect id: 10872;"Contact Us" link has been removed.
    0.6             Mar-30-2010          Sudarshan.R           Defect id:12399; Added enablehistory to ScriptManager.
-------------------------------------------------------------------------------------------------------------------------------------------       

--%>

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Modal.master.cs" Inherits="TPS360.Web.UI.ModalMaster" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Talentrackr</title>
    <link type="text/css" href="~/css.axd?fileSet=FileSet_CSS_Style1" rel="Stylesheet" />
    <link href="~/Style/Common.css" type="text/css" rel="stylesheet" />
    <link href="~/Style/Modal.css" type="text/css" rel="Stylesheet" />
    <link href="~/Style/hmatrix.css" type="text/css" rel="Stylesheet" />
    <link href="~/Style/style.css" type="text/css" rel="Stylesheet" />
        <link href="~/Style/ToolTip.css" type="text/css" rel="Stylesheet" />
    <style type="text/css">
        .highlight
        {
            text-decoration: none;
            font-weight: bold;
            color: black;
            background: yellow;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="shortcut icon" href="Images/icon.ico">
</head>
<body>
    <form id="frmMaster" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release" EnableHistory="true"
        EnablePageMethods="true">
        <services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </services>
        <scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-transition.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-alert.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-modal.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-dropdown.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-scrollspy.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tab.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tooltip.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-popover.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-button.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-collapse.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-carousel.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-typeahead.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.validate.js" />
            
                   <asp:ScriptReference Path="~/Scripts/GirdOverflowToopTip.js" />
        </scripts>
    </asp:ScriptManager>
   <script >
   
   try{Sys.Browser.WebKit={};
if (navigator.userAgent.indexOf('WebKit/') > -1) {
    Sys.Browser.agent = Sys.Browser.WebKit;
    Sys.Browser.version = parseFloat(navigator.userAgent.match(/WebKit\/(\d+(\.\d+)?)/)[1]);
    Sys.Browser.name = 'WebKit';
}    
}
catch (e)
{

}
   Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(beginReq); 
Sys.WebForms.PageRequestManager.getInstance().add_endRequest(endReq);    
function beginReq(sender,args)
{

$find('ModalOverlay').show();
}
function endReq(sender, args) {
    $find('ModalOverlay').hide(); 
}
function RemoveModal()
{   Sys.WebForms.PageRequestManager.getInstance().remove_beginRequest(beginReq); 
}
   </script>
    
        <div id="master-container" > 
          <div id="user-screen" class="modal-container screen">
                <div class="modal-backdrop">
                    <div class="modal-border">
                        <div class="modal">
                            <div class="header">
                                 <span class="title"> <asp:Label ID ="lbModalTitle" runat ="server"  ></asp:Label></span> 
                                 
                                <a class="button close" title="Close"  onclick ="javascript:parent.CloseModal();" id ="imgClose" runat ="server" ></a>
                                <%-- To show Print And Email Buttons in Job Detail page this div is used --%>
                                <div id="divButtons" runat ="server"  style =" float :right ; margin-top : 10px; " > </div>
                            </div>
            				<div class="content" style =" width:100%;height: 100%; display :table-cell ;overflow :auto  " runat ="server"  id="divContent">
                                <asp:ContentPlaceHolder ID="cphModalMaster" runat="server">
                                </asp:ContentPlaceHolder>
                                
<asp:Panel ID="pnlmodal" runat="server" Style="display: none">
<asp:UpdatePanel runat="server" ID="UpdatePanel2" RenderMode="Inline" UpdateMode="Conditional">
<ContentTemplate>
<img src="../Images/AjaxLoading.gif" />
</ContentTemplate>
</asp:UpdatePanel>
</asp:Panel>
<ajaxToolkit:ModalPopupExtender ID="Modal" runat="server" TargetControlID="pnlmodal"
PopupControlID="pnlmodal" BackgroundCssClass="divModalBackground" BehaviorID ="ModalOverlay">
</ajaxToolkit:ModalPopupExtender>
            
                        
                </div>
                         </div>
                     </div>
                </div>
           </div>
    </div> 


    <div id="divScriptHolder" runat="server">
    </div>
    </form>
    
</body>
</html>
