﻿<%@ Master Language="C#" MasterPageFile="~/Default.master" AutoEventWireup="true" CodeFile="EmployeeProfile.master.cs" Inherits="TPS360.Web.UI.EmployeeProfile" %>
<%@Register Src ="~/Controls/NewOverviewMenu.ascx" TagName ="Overview" TagPrefix ="ucl" %>
<asp:Content ID="cnt" ContentPlaceHolderID="head"   runat="Server">    
</asp:Content> 
<asp:Content ID="Content2" ContentPlaceHolderID="cphHomeMasterTitle" Runat="Server">
<asp:Label ID="lblCandidateName" runat ="server" ></asp:Label>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphHomeMaster" Runat="Server">
 <link href ="../Style/TabStyle.css"  type="text/css" rel="Stylesheet" />

<style>
.section-body
{
	padding:0;
	width : 100%;
}
</style>

        <div class="withsidebar">
            <div class="sidebar">
                <ucl:Overview ID="uclOverview" runat ="server" />
            </div>
            <div class="sidebar_content">
                    
                <div class="container" style =" padding : 5px">
                       
                            <asp:ContentPlaceHolder ID="cphEmployeeMaster" runat="server">
                            </asp:ContentPlaceHolder>

                </div>
            </div>
        </div>
          
            <asp:SiteMapDataSource runat="server" ID="MenuSiteMap" ShowStartingNode="false" />
                      
</asp:Content>
