﻿<%@ Master Language="C#" AutoEventWireup="true"  MasterPageFile="~/Default.master" 
CodeFile="MemberPortal.master.cs" Inherits="TPS360.Web.UI.MemberPortalMaster" %>
<%@ Register Src="~/Controls/LeftPanel.ascx" TagName="LeftPanel" TagPrefix="uc1" %>
<asp:Content ID="cntHead" ContentPlaceHolderID="head" runat="Server">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="cntTitle" ContentPlaceHolderID="cphHomeMasterTitle" runat="Server">
   <asp:Label ID ="lblTitle" runat ="server" Text ="Account Settings" ></asp:Label>
</asp:Content>
<asp:Content ID="cntBody" ContentPlaceHolderID="cphHomeMaster" runat="Server">
<style>
.section-body {
	min-height: 18px;
	padding: 0px 0px;
}
</style>
        <div class="withsidebar">
            <div class="sidebar">
                <ul class="sidemenu" runat ="server"  id="MenuList">   
                    <uc1:LeftPanel ID="ctlLeftPanel" runat="server" />
                </ul>
            </div>
            <div class="sidebar_content">
                <div class="container" style =" padding : 5px; min-height : 500px; ">
                    <asp:ContentPlaceHolder ID="cphHomeMaster" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>




</asp:Content>
